<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit your situation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon float-right class="close-icon" margin name="close-circle-outline" (click)="cancelForm()" size="large"></ion-icon>
    <ion-input class="font-big" [(ngModel)]="situation.situationName" placeholder="Situation name" clearOnEdit padding-start></ion-input>
    <hr class="line-blue" margin-start margin-end margin-bottom>
    <h2 class="px-4 mb-0" margin-top >Contact person</h2>
    <div class="contact-person">
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input  [(ngModel)]="situation.contact" class="input" clearOnEdit></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Phone number</ion-label>
        <ion-input [(ngModel)]="situation.phoneNumber" class="input" clearOnEdit></ion-input>
      </ion-item>
    </div>
  <a class="px-4 button-link hand-pointer" margin-top (click)='addContactPerson()'>+ Add another contact person</a>
  <h2 class="px-4 mb-0" margin-top>Your message</h2>
  <ion-item lines="none" margin-bottom>
    <ion-label position="stacked">Text</ion-label>
    <ion-input [(ngModel)]="situation.message" class="input" clearOnEdit></ion-input>
  </ion-item>
  <div margin-horizontal>
    <ion-button class="w-100" (click)="saveData()">Save</ion-button>
  </div>
</ion-content>
