<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Contact person</h2>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Phone number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button>+ Add another contact person</ion-button>
  <h2>Your message</h2>
  <ion-item>
    <ion-label>Text</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <span class="toggle-text">Add GPS location</span><ion-toggle checked></ion-toggle>
  <h2>Code to send the message</h2>
  <ion-item>
    <ion-label>Your 5 digits code</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <span class="toggle-text">Allow voice control</span><ion-toggle checked></ion-toggle>
</ion-content>
