.d-flex {
    display: flex;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.font-big {
    font-size: 20px;
}