.d-flex {
    display: flex;
}

.font-big {
    font-size: 2em;
}

.px-4 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.color-blue {
    background-color: #3880ff;
}

.button-link {
    font-size: 1em;
    color: #3880ff;
    display: block;
}

.button-native {
    background-color: transparent !important;
}

:host(.button-solid) {
    --ion-color-primary:#ffffff;
}

.close-icon {
    color: gray;
    z-index: 20;
    &:hover, &:focus {
        color: black;
    }
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
}
.min-width {
    min-width: 16px;
}

.mr-2 {
    margin-right: 8px;
}

.w-100 {
    width: 100%
}
