.mb-16 {
    margin-bottom: 16px;
}
.ml-8 {
    margin-left: 8px;
}

.mr-2 {
    margin-right: 2px;
}

.px-4 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.mb-30{
	margin-bottom:30px;
}

.hand-pointer:hover {
  cursor: pointer;
}

.bg-siren{
   background-color: #3171e0;
}

ion-img {
  width: 40%;
  height: 40%;
}




