<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="no-address" ng-if="myAddress == ''">
    <ion-input [(ngModel)]="myAddress" id="elementId" class="font-big" placeholder="My address" clearOnEdit padding-start>
    </ion-input>
    <ion-button expand="full" color="danger" (click)="saveAddress()">
      {{buttonLabel}}
    </ion-button>
  </div>
  <!-- <div class="fillled-address" ng-if="myAddress != ''">
    <h3>perrito {{myAddress == ''}}</h3>
  </div> -->


  <ion-button expand="full" color="danger" (click)="goHome()">
    <ion-icon class="mr-2" name="business"></ion-icon>
    Find way to home
  </ion-button>
</ion-content>