<ion-header>
  <ion-toolbar>
    <ion-title>
      Find Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="no-address" ng-if="myAddress == ''">
    <ion-item lines="none">
        <ion-label position="stacked">My address</ion-label>
        <ion-input  [(ngModel)]="myAddress" class="input font-big" clearOnEdit padding-start></ion-input>
      </ion-item>
    <ion-button expand="full" color="primary" (click)="saveAddress()">
      {{buttonLabel}}
    </ion-button>
  </div>

  <ion-button expand="full" color="danger" (click)="goHome()">
    <ion-icon class="mr-2" name="business"></ion-icon>
    Find way to home
  </ion-button>
</ion-content>