<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      <h3>we will fill this later according to data</h3>
      
    </ion-card-content>
  </ion-card>
<ion-button expand="full" color="danger" (click) = "presentAlert()">
  <ion-icon class="icon-mr" src="/assets/icon/siren.svg"></ion-icon>
Emergency

</ion-button>
  <ion-button class="delete-button-ml">Delete</ion-button>
  <ion-button class="change-button-ml">Change</ion-button>
</ion-content>
