.mb-8 {
    margin-bottom: 8px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-2 {
    margin-right: 2px;
}

.px-4 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.hand-pointer:hover {
  cursor: pointer;
}